<!-- list of categories  -->
<!-- 
All
Electronics
Computers
Mechanics
Aeronautics
Metallurgy -->
<mat-toolbar style="background-color: black;margin-top: 0%;">
    <button mat-icon-button style="background-color:rgb(226, 43, 92) ;color: white;">All</button>&nbsp;&nbsp;
    <button type="button" mat-button class="border">Electronics</button>  &nbsp;
    <button type="button" mat-button class="border">Computers</button> &nbsp;
    <button mat-button class="border">Mechanics</button> &nbsp;
    <button type="button" mat-button class="border">Aeronautics</button> &nbsp;
    <button type="button" mat-button class="border">Metallurgy</button> 
</mat-toolbar>