
<ul class="cardFlex">
  <mat-card class="example-card">
    <a href="">
      <img mat-card-image src="https://i.ytimg.com/vi/ByOPqVzGvJw/default.jpg" alt="Photo of a Shiba Inu">
    </a>
    
    <mat-card-content>
      <p>
        My Advice for New Programmers (Things I Wish I Knew)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <a href=""><img mat-card-image src="https://i.ytimg.com/vi/NphjQt2_BPA/default.jpg" alt="Photo of a Shiba Inu"></a>
    <mat-card-content>
      <p>
        My Advice for New Programmers (Things I Wish I Knew)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <a href=""><img mat-card-image src="https://i.ytimg.com/vi/Dy0G1ba5F54/mqdefault.jpg" alt="Photo of a Shiba Inu"></a>
    <mat-card-content>
      <p>
        BECOMING A SOFTWARE ENGINEER WITHOUT A CS DEGREE IN 2020
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <a href=""><img mat-card-image src="https://i.ytimg.com/vi/RzLX3bVtssY/mqdefault.jpg" alt="Photo of a Shiba Inu"></a>
    <mat-card-content>
      <p>
        How to create a modal popup in JavaScript
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <a href=""><img mat-card-image src="https://i.ytimg.com/vi/G6k9JMK1r8A/mqdefault.jpg" alt="Photo of a Shiba Inu"></a>
    <mat-card-content>
      <p>
        Animated 3D Navigation Bar. Without JavaScript.\r You can download Compleated Project
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <a href=""><img mat-card-image src="https://i.ytimg.com/vi/WRJCMD3gUKM/default.jpg" alt="Photo of a Shiba Inu"></a>
    <mat-card-content>
      <p>
        ANIMATED CSS BUTTON IN 6 MINUTES
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <a href=""><img mat-card-image src="https://i.ytimg.com/vi/tHQrHYZRw0A/mqdefault.jpg" alt="Photo of a Shiba Inu"></a>
    <mat-card-content>
      <p>
        Motovlogging - Part 1 | A guide to starting your own motovlog channel
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <a href=""><img mat-card-image src="https://i.ytimg.com/vi/0P1X2bqB65E/mqdefault.jpg" alt="Photo of a Shiba Inu"></a>
    <mat-card-content>
      <p>
        MAP IN JAVASCRIPT: Refactoring REACT Code with ARRAY MAP Method!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</ul> 